{
  "plugins": [
    "transform-regenerator"
  ],
  "presets": [ "es2015", "stage-0" ],
  "env": {
    "browsers": [
      "last 2 Chrome versions"
    ],
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}